@import 'brand.scss';

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;

  &__container{
    flex-basis: 100%;
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    float: left;
    text-align: center;
  }

  &__name-input {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }

  &__textarea {
    background-color: rgba( $primary, 0.8);
    font-size: 2.5em;
    color: $reverse;
    border-radius: 25px;
    border: none;
    height: 70px;
    margin-top: 375px;
    resize: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    outline: none;
  }

  &__years {
    position: absolute;
    font-size: 2em;
    margin: 20px;
    left: 0;
    right: 0;
  }

  &__message_white {
    background-color: $reverse;
    color: $black;
    height: 150px;
  }

  &__message_black {
    background-color: $black;
    flex-basis: 100%;
    border: 2px $highlight solid;
    color: $reverse;
    opacity: 0.3;
    height: 275px;
  }

  &__status-bar {
    position: absolute;
    text-align: left;
    width: 1020px;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: $reverse;
    // justify-content: space-between;
  }

  &__table{
    font-size: 1.5em;
    text-align: center;
    color: $primary;
    width: 100%;
    justify-content: space-between;

  }

  &__stats {
    color: $highScore;
  }

}

#messagebox {
  position: absolute;
  text-align: left;
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0.8;
  padding-left: 20px;
  bottom: 40px;
  overflow: scroll;
  border-radius: 6px;
  font-size: 1.5em;
  white-space: pre-wrap;
}



