@import 'brand.scss';

.navbar {
  background-color: $secondary;
  padding: 1.8em;
  height: 120px;
  color: $reverse;
  margin-bottom: 20px;

  &__title {
    float: left;
    margin-left: 10px;
    font-size: 2.5em;
  }

  &__drop-down {
    height: 190px;
    width: 275px;
    background-color: $reverse;
    z-index: 2;
    position: fixed;
    top: 120px;
    right: 25px;
    color: $primary;
    display: none;
  }

  &__reg-btn {
    color: $primary;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.3em;
    float: right;
    padding: 1em;
    padding-right: 0px;
    text-decoration: underline;
  }

  &__login-btn {
    color: $reverse;
    background-color: $primary;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 1em;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 10px;
    float: right;
  }

  &__logout-btn extends &__login-btn

  &__form {
    margin: 0 20px;
  }

  &__form-input {
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0 auto 15px auto;
    width: 100%;
    font-size: 1.2em;
  }

  &__nav-link {
    border: 0;
    border-bottom: solid 2px;
    float: right;
  }

  &__form-validation {
    color: $highScore;
  }


}
