@import 'brand.scss';

.navbar {
  background-color: $secondary;
  padding: 1.8em;
  height: 120px;
  color: $reverse;
  margin-bottom: 20px;

  &__btn {
    color: $reverse;
    background-color: $primary;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 1em;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 10px;
    float: right;
  }

  &__title {
    float: left;
    margin-left: 10px;
  }

}
