@import 'brand.scss';

.results {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__container {
    flex-basis: 85%;
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    // float: left;
  }

  &__img {
    width: 1020px;
  }

}


