@import 'brand.scss';

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__container {
    flex-basis: 85%;
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    float: left;
    border-bottom: 5px $reverse solid;
  }

  &__img {
    width: 100%;
  }

}


