@import 'brand.scss';

.scores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__container {
    flex-basis: 75%;
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    border-bottom: 5px $reverse solid;

  }

  &__table {
    font-size: 2em;
    text-align: center;
  }

  &__td {
    color: $highScore;
    padding-right:1.5em;
    justify-content: space-evenly;
  
  }

  &__th {
    padding-right:1.5em;
    justify-content: space-evenly;
  
  }


}



