@import 'brand.scss';

.scores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__container {
    flex-basis: 30%;
    margin-top: 2.4em;
    width: auto;
    height: auto;
    position: relative;
    border: .3em $reverse solid;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  &__table {
    font-size: 2em;
    text-align: center;
    width: 100%;
  }

  &__td {
    color: $highScore;
    // padding-right:1.5em;
    justify-content: space-evenly;
  
  }

  &__th {
    // padding-right:1.5em;
    justify-content: space-evenly;
  
  }

  &__title {
    font-size: 2em;
  }



}
